@import "./Global.css";

.card-session01 {
  background-image: url("../assets/session01.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  color: var(--off-white);
  padding: 6rem 1rem 2rem;
  gap: 30px;
  height: 100vh;
}

.logo {
  width: 360px;
}

.content-session01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.content-session01 h1 {
  font-size: var(--size-xl);
  font-family: var(--font-title);
  font-weight: 50;
  line-height: 1;
  width: 100%;
  max-width: 480px;
  padding: 16px;
}

.content-session01 p {
  font-size: var(--size-sm);
  font-family: var(--font-text);
  max-width: 340px;
}

.list-container-session01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  list-style: none;
  padding: 10px 10px 0;
}

.list-container-session01 li {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.2;
  font-size: var(--size-sm);
  font-family: var(--font-text);
  padding-bottom: 10px;
  gap: 10px;
}

.button-session01 {
  background-color: #0a9c25;
  color: white;
  font-size: var(--size-md);
  font-weight: bold;
  font-family: var(--font-text);
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0;
  text-decoration: none;
  text-align: center;
  width: 40%;
  max-width: 300px
}

.button-session01:hover {
  background-color: var(--btn-green);
  color: var(--roxo);
}

.warnings-session01 {
  background-color: var(--palha);
  color: var(--roxo);
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
}

.warning-icon {
  font-size: var(--size-md);
  margin-right: 10px;
}

@media (min-width: 768px) {
  .content-session01 {
    gap: 50px;
  }

  .content-session01 h1 {
    font-size: var(--size-2xl);
    max-width: 780px;
  }

  .content-session01 p {
    font-size: var(--size-md);
  }

  .list-container-session01 {
    gap: 20px;
    padding: 20px;
  }

  .list-container-session01 li {
    font-size: var(--size-md);
    width: 100%;
  }

  .warnings-session01 {
    width: 600px;
    max-width: 80%;
  }

  .button-session01 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .card-session01 {
    background-image: url("../assets/backgrounds-mentoria/1.jpg");
    color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
  }
  
  .content-session01 {
    gap: 30px;
  }
  
  .content-session01 h1 {
    font-size: var(--size-2xl);
    font-weight: normal;
    color: var(--off-white);
    line-height: 1;
  }
  
  .content-session01 p {
    font-size: max(1.2rem, 1.5vw);
    color: var(--off-white);
    margin-bottom: 30px;
    line-height: 1.2;
    max-width: 600px;
  }
  
  .warnings-session01 {
    background: var(--palha);
    border-radius: 8px;
  }
  
  .list-container-session01 li {
    display: flex;
    align-items: center;
    font-size: max(1.2rem, 1vw);
    color: var(--roxo);
    font-weight: normal;
  }
  
  .list-container-session01 li svg {
    color: #cc8f4f;
    margin-right: 10px;
  }  
}

