@import './Global.css';

.container-session07 {
  background: var(--gray);
  text-align: center;
  padding: 4rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title-session07 {
  font-size: var(--size-2xl);
  font-weight: 50;
  font-family: var(--font-title);
  color: var(--palha);
  line-height: 1;
}

.old-value {
  font-size: var(--size-md);
  font-family: var(--font-text);
  font-weight: bold;
  text-decoration: line-through;
  color: red;
}

.price-session07 {
  font-size: var(--size-md);
  font-family: var(--font-text);
  color: var(--palha);
  margin: 0.5rem 0;
}

.text-price-session07 {
  font-size: var(--size-md);
  font-family: var(--font-text);
  color: var(--palha);
  margin: 0.5rem 0;
}

.special-price-session07 {
  font-size: var(--size-2xl);
  font-family: var(--font-text);
  color: var(--off-white);
  letter-spacing: -0.2rem;
}

.cash-price-session07 {
  font-size: var(--size-md);
  font-family: var(--font-text);
  color: var(--palha);
  margin: 0.5rem 0;
}

.discount-session07 {
  background: var(--btn-green);
  color: var(--off-white);
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: var(--size-lg);
  font-weight: bold;
  font-family: var(--font-text);
  border-radius: 4px;
  text-decoration: none;
  
}

.payment-methods-session07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  line-height: 1;
}

.exclusive-session07,
.limited-session07 {
  font-size: var(--size-lg);
  font-family: var(--font-text);
  color: var(--beje);
}

@media (min-width: 768px) {
  .title-session07 {
    font-size: var(--size-3xl);
    width: 80%;
  }

  .price-session07 {
    font-size: var(--size-xl);
  }

  .special-price-session07 {
    font-size: var(--size-5xl);
    font-weight: 600;
  }

  .old-value {
    font-size: var(--size-lg)
  }

  .cash-price-session07 {
    font-size: var(--size-lg);
  }

  .discount-session07 {
    font-size: var(--size-xl);
  }

  .payment-methods-session07 {
    flex-direction: row;
    gap: 20px;
  }
}