@import './Global.css';

.container-session05 {
  background: var(--lilas);
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 4rem 1rem;
}

.title-session05 {
  font-size: var(--size-xl);
  font-family: var(--font-title);
  font-weight: 50;
  padding: 2rem 0;
  color: white;
  width: 100%;
}

.list-session05 {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-session05 li {
  list-style-type: none;
  font-size: var(--size-md);
  font-family: var(--font-text);
  color: white;
  text-align: center;
  border-bottom: 1px solid var(--off-white);
  padding: 1rem 0.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 96%;
}

.checked path {
  color: var(--btn-green);
}


@media (min-width: 768px) {
  .container-session05 {
    padding: 4rem 2rem;
  }

  .title-session05 {
    font-size: var(--size-3xl);
  }

  .list-session05 {
    gap: 20px;
    width: 90%;
  }

  .list-session05 li {
    gap: 10px;
    border-bottom: none;
    padding: 1rem 0;
    border-bottom: 1px solid var(--off-white);
  }
}

@media (min-width: 1024px) {
  .container-session05 {
    background: none;
    max-width: 50%;
    padding: 0;
    border-radius: 10px;
    margin: 0;
    justify-content: flex-end;
  }

  .title-session05 {
    font-size: var(--size-xl);
    padding: 2.3rem;
    color: var(--palha);
  }

  .list-session05 {
    width: 100%;
    max-height: 620px;
    border-radius: 10px;
    gap: 0px;
    justify-content: center;
    padding: 1rem; 
    border: 2px solid var(--off-white);
  }

  .list-session05 li {
    gap: 10px;
    border-bottom: none;
    padding: 1rem 0;
    font-size: var(--size-sm);
    flex-direction: row;
    padding: 8px;
    width: 100%;
    text-align: left;
    color: var(--off-white);
    
  }
  
}