@import "./Global.css";

.container-session05Main {
  display: flex;
  flex-direction: column;
}

.text-session05Main-container {
  display: none;
}

@media (min-width: 1024px) {
  .container-session05Main {
    background-image: url("../assets/backgrounds-mentoria/2.webp");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    padding: 4rem 2rem;
    gap: 2rem;
  }

  .content-session05Main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .text-session05Main-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--size-sm);
    font-family: var(--font-text);
    color: white;
  }

  .text-session05Main-container p {
    text-align: center;
    font-size: var(--size-md);
    max-width: 80%;
  }

  .btn-session05Main {
    background: var(--btn-green);
    color: var(--off-white);
    font-size: var(--size-md);
    font-family: var(--font-text);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 40%;
    max-width: 300px;
  }

  .destaque {
    color: var(--palha);
  }
}
