@import './Global.css';

.container-session06 {
  background: var(--palha);
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

.title-session06 {
  font-size: var(--size-xl);
  font-family: var(--font-title);
  font-weight: 50;
  color: var(--roxo);
  width: 80%;
  padding: 1rem;
}

.list-session06 {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 2px solid var(--roxo);
  border-radius: 10px;
}

.list-session06 li {
  list-style-type: none;
  font-size: var(--size-md);
  font-family: var(--font-text);
  text-align: left;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checked path {
  color: var(--btn-green);
}

.container-session06-text p {
  font-size: var(--size-lg);
  font-family: var(--font-text);
  font-weight: 400;
  color: var(--roxo);
  text-align: center;
  padding: 0.5rem;
  gap: 1rem;
  line-height: 1;
  width: 100%;
}

.btn-session06 {
  background-color: #0a9c25;
  color: white;
  font-size: var(--size-md);
  font-weight: bold;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 300px;
  margin: 15px 0;
  text-decoration: none;
  font-family: var(--font-text);
}

@media (min-width: 768px) {
  .title-session06 {
    font-size: var(--size-3xl);
    color: var(--roxo);
    width: 60%;
  }
  
  .list-session06 {
    width: 90%;
    padding: 1rem;
  }

  .list-session06 li {
    font-size: var(--size-lg);
  }

  .container-session06-text p {
    font-size: var(--size-xl);
  }

}

@media (min-width: 1024px) {
  .container-session06 {
    background: none;
    max-width: 50%;
    padding: 0;
    gap: 0;
    border-radius: 10px;
    margin: 0;
  }

  .title-session06 {
    font-size: var(--size-xl);
    color: var(--palha);
    width: 100%;
  }

  .list-session06 {
    width: 100%;
    padding: 1rem;
    border: none;
    justify-content: center;
    border: 2px solid var(--off-white);
    max-height: 620px;
  }

  .list-session06 li {
    font-size: var(--size-sm);
    gap: 8px;
    color: var(--off-white);
    border-radius: 10px;
    padding: 16px;
  }

  .container-session06-text p, .btn-session06 {
   display: none;
  }

}