@import "./Global.css";

/* Container principal */
.container-session10 {
  width: 100%;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
  background-image: url("../assets/backgrounds-mentoria/4.jpg");
}

/* Título */
.title-session10 {
  font-size: var(--size-2xl);
  font-family: var(--font-title);
  font-weight: 100;
  margin-bottom: 20px;
  color: var(--lilas);
}

/* Container do slider */
.slider-container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
}

/* Slick slider ajustes */
.slick-slide {
  display: flex !important; /* Garante que os elementos sejam flexíveis */
  justify-content: center; /* Centraliza os itens */
  align-items: center; /* Alinha verticalmente */
}

.slick-list {
  margin: 0 -10px; /* Remove o espaço adicional ao redor dos itens */
}

/* Card */
.card {
  padding: 10px;
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

/* Imagens dentro do card */
.card-img img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra suave */
  transition: transform 0.3s ease;
}

/* Efeito de hover nas imagens */
.card-img img:hover {
  transform: scale(1.05); /* Zoom suave */
}

/* Ajustes para diferentes resoluções */
@media (max-width: 1024px) {
  .slider-container {
    padding: 10px 0;
  }

  .title-session10 {
    font-size: var(--size-3xl);
  }
}

@media (max-width: 600px) {
  .title-session10 {
    font-size: var(--size-2xl);
  }

  .card {
    padding: 5px;
  }
}
